<div class="dialog-body">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of fieldsConfig" class="form-input-container">
            <label class="form-label"><span *ngIf="field.required">*</span>{{ field.label }}</label>
            <input type="text" [formControlName]="field.name" pInputText placeholder={{field.placeholder}}/>
        </div>
        <div *ngIf="loading" class="loading">
            <div class="preloader-image preloader-image-l-size"></div>
        </div>
    </form>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <p-button
                    label="Cancel"
                    styleClass="p-button-outlined"
                    (click)="onNoClick()"
            ></p-button>
        </div>
        <div>
            <p-button label="Ok" [disabled]="!dataForm.valid" (click)="onSubmit()"></p-button>
        </div>
    </div>
</div>
