<app-compare-btn *ngIf="!dryRun && id" type="document" [id]="id"></app-compare-btn>
<div *ngIf="(isVcDocument || isVpDocument) && toggle" class="toggle-container">
    <label class="switch">
        <input type="checkbox" [(ngModel)]="viewDocument">
        <span class="slider round"></span>
    </label>
    <span class="slider-text">View as Form</span>
</div>
<div class="view-dialog-content">
    <ng-container *ngIf="viewDocument">
        <app-document-view [document]="document" [type]="type" [schema]="schema"></app-document-view>
    </ng-container>
    <ng-container *ngIf="!viewDocument">
        <div class="json" *ngIf="type !== 'TEXT'">
            {{ json }}
        </div>
        <div class="text" *ngIf="type === 'TEXT'">
            {{ text }}
        </div>
    </ng-container>
</div>
<div class="actions-container">
    <button class="button secondary" (click)="onClick()">Close</button>
</div>
