<div class="dialog-body">
    <div class="context">
        <div *ngIf="loading" class="loading">
            <div class="preloader-image preloader-image-l-size"></div>
        </div>

        <div class="policy-dropdown-container">
            <label class="form-label" for="firstModule">* First {{ type }}</label>
            <p-dropdown
                    id="firstModule"
                    [options]="list1"
                    [(ngModel)]="itemId1"
                    optionLabel="name"
                    optionValue="id"
                    [showClear]="true"
                    [placeholder]="'Select ' + type"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-dropdown>
        </div>

        <div class="policy-dropdown-container">
            <label class="form-label" for="secondaryModule"
            >* Secondary  {{ type }}</label
            >
            <p-multiSelect

                    id="secondaryModule"
                    [options]="list2"
                    [(ngModel)]="itemId2"
                    optionLabel="name"
                    optionValue="id"
                    [placeholder]="'Select ' + type + '(-s)'"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-multiSelect>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <button
                    pButton
                    label="Cancel"
                    class="button secondary"
                    (click)="onClose()"
            ></button>
        </div>
        <div>
            <button pButton class="button" [disabled]="!(itemId1 && itemId2)" label="Compare"
                    (click)="onCompare()"></button>
        </div>
    </div>
</div>
