<div class="dialog-body">
    <form [formGroup]="forgotPasswordFormGroup">
        <div class="form-input-container">
            <label class="p-field-label" for="username">Username</label>
            <input placeholder="Username" type="text" id="username" pInputText formControlName="username"
                   class="p-field-input"/>
        </div>
    </form>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <button pButton
                    label="Cancel"
                    class="button secondary"
                    (click)="onNoClick()"
            ></button>
        </div>
        <div>
            <button
                    [disabled]="!forgotPasswordFormGroup.controls['username'].value"
                    pButton class="button" label="Reset Password" (click)="onSubmit()"></button>
        </div>
    </div>
</div>
