<div class="dialog-body">
    <div class="context">
        <div *ngIf="loading" class="loading">
            <div class="preloader-image preloader-image-l-size"></div>
        </div>

        <div class="policy-dropdown-container">
            <label class="form-label" htmlFor="firstPolicy">First Policy</label>
            <p-dropdown
                    id="firstPolicy"
                    [options]="list1"
                    [(ngModel)]="policyId1"
                    optionLabel="name"
                    optionValue="id"
                    [showClear]="true"
                    placeholder="Select Policy"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-dropdown>
        </div>

        <div class="policy-dropdown-container">
            <label class="form-label" htmlFor="firstPolicy"
            >Secondary Policy</label
            >
            <p-multiSelect
                    [options]="list2"
                    [(ngModel)]="policyId2"
                    optionLabel="name"
                    optionValue="id"
                    placeholder="Select Policy"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-multiSelect>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <p-button
                    styleClass="p-button-outlined"
                    label="Cancel"
                    (click)="onClose()"
            ></p-button>
        </div>
        <div>
            <button pButton class="button secondary" label="Compare" (click)="onCompare()"></button>
        </div>
    </div>
</div>
