<div class="content" [hidden]="!isActive">
    <div class="dialog">
        <div class="title">Token {{ action }}</div>
        <div class="description">
            Please enter the private key for the account (
            <hedera-explorer
                    type="accounts"
                    [params]="accountId"
            >{{ accountId }}
            </hedera-explorer
            >
            ) to <span>{{ action }}</span> it with the token
            <span>{{ tokenName }}</span> (
            <hedera-explorer
                    type="tokens"
                    [params]="tokenId"
            >{{ tokenId }}
            </hedera-explorer
            >
            )
        </div>
        <form class="form" [formGroup]="dataForm">
            <mat-form-field appearance="outline">
                <mat-label>* Private Key</mat-label>
                <input
                    #privateKeyInput
                    matInput
                    type="password"
                    placeholder="Private Key"
                    formControlName="privateKey"
                />
                <button
                        matSuffix
                        mat-icon-button
                        aria-label="Visibility"
                        (click)="
                        privateKeyInput.type === 'password'
                            ? (privateKeyInput.type = 'text')
                            : (privateKeyInput.type = 'password')
                    "
                >
                    <mat-icon>{{
                            privateKeyInput.type === "password"
                                ? "visibility"
                                : "visibility_off"
                        }}
                    </mat-icon>
                </button>
            </mat-form-field>
            <div style="margin-top: 15px; margin-left: auto;">
                <p-button
                        styleClass="p-button-outlined"
                        type="submit"
                        (click)="onSkip()"
                        style="margin-left: 20px;"
                        [label]="
                        'I have ' +
                        (action === 'associate'
                            ? 'associated'
                            : action === 'dissociate'
                            ? 'dissociated'
                            : action) +
                        ' manually'
                    "
                >
                </p-button>
                <p-button
                        style="margin-left: 20px;"
                        label="Enter"
                        type="submit"
                        [disabled]="!dataForm.valid"
                        (click)="onConfirm()"
                ></p-button>
            </div>
        </form>
    </div>
</div>

<ng-template #preloader>
    <div class="preloader-image"></div>
</ng-template>

<div *ngIf="loading" class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
</div>
