<h1 mat-dialog-title>Enter version</h1>
<div mat-dialog-content class="content">
    <div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="version">* Version</label>
            <input type="text" id="version" pInputText [formControl]="versionControl"/>
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="cancel-button">
            <button
                    pButton
                    class="button secondary"
                    label="Cancel"
                    (click)="onNoClick()"
            ></button>
        </div>
        <div>
            <button pButton class="button" label="Ok" [disabled]="isPublishDisabled" (click)="onSubmit()"></button>
        </div>
    </div>
</div>
