<form [formGroup]="dataForm">
    <div class="form-field-container">
        <div class="form-field">
            <div class="label-field">Type</div>
            <div class="form-field-value">
                <input pInputText class="p-field-input" [readonly]="true" formControlName="type">
            </div>
        </div>
    </div>

    <div class="form-field-container">
        <div class="form-field">
            <div class="label-field">DATETIME</div>
            <div class="form-field-value">
                <input pInputText class="p-field-input" [readonly]="true" formControlName="datetime">
            </div>
        </div>
    </div>

    <div class="form-field-container">
        <div class="form-field">
            <div class="label-field">MESSAGE</div>
            <div class="form-field-value">
                <textarea pInputTextarea class="p-field-input" [readonly]="true" formControlName="message"></textarea>
            </div>
        </div>
    </div>

    <div class="form-field-container">
        <div class="form-field">
            <div class="label-field">ATTRIBUTES</div>
            <div class="form-field-value">
                <textarea pInputTextarea class="p-field-input" [readonly]="true"
                          formControlName="attributes"></textarea>
            </div>
        </div>
    </div>


    <div style="display: flex; align-items: center; justify-content: end; margin-top: 10px;">
        <button (click)="dialogRef.destroy()" pButton class="button secondary">Close</button>
    </div>
</form>
