<div class="dialog-body">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="form-input-container">
            <label class="p-field-label" for="name">* Name</label>
            <input type="text" id="name" pInputText formControlName="name" class="p-field-input"/>
        </div>
        <div class="form-input-container">
            <label class="p-field-label" for="description">Description</label>
            <textarea
                    id="description"
                    rows="3"
                    cols="30"
                    pInputTextarea
                    formControlName="description"
                    class="p-field-input"
            ></textarea>
        </div>
    </form>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <button pButton
                    label="Cancel"
                    class="button secondary"
                    (click)="onNoClick()"
            ></button>
        </div>
        <div>
            <button pButton class="button" label="Create" (click)="onSubmit()"></button>
        </div>
    </div>
</div>
