<div class="dialog-body">
    <div *ngIf="loading" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>

    <div class="row-container">
        <div class="policy-dropdown-container">
            <label class="form-label" htmlFor="firstPolicy">Policy</label>
            <p-dropdown
                    id="firstPolicy"
                    [options]="policies"
                    [(ngModel)]="topicId1"
                    optionLabel="name"
                    optionValue="topicId"
                    [showClear]="true"
                    placeholder="Select Policy"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-dropdown>
        </div>

        <div class="policy-dropdown-container">
            <label class="form-label" htmlFor="firstSchema">First Schema</label>
            <p-dropdown
                    id="firstSchema"
                    [options]="list1"
                    [(ngModel)]="schemaId1"
                    optionLabel="fullName"
                    optionValue="id"
                    [showClear]="true"
                    placeholder="Select Schema"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-dropdown>
        </div>
    </div>

    <div class="row-container">
        <div class="policy-dropdown-container">
            <label class="form-label" htmlFor="secondPolicy">Policy</label>
            <p-dropdown
                    id="secondPolicy"
                    [options]="policies"
                    [(ngModel)]="topicId2"
                    optionLabel="name"
                    optionValue="topicId"
                    [showClear]="true"
                    placeholder="Select Policy"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-dropdown>
        </div>

        <div class="policy-dropdown-container">
            <label class="form-label" htmlFor="secondPolicy"
            >Second Schema</label
            >
            <p-dropdown
                    id="secondPolicy"
                    [options]="list2"
                    [(ngModel)]="schemaId2"
                    optionLabel="fullName"
                    optionValue="id"
                    [showClear]="true"
                    placeholder="Select Schema"
                    (onChange)="onChange()"
                    appendTo="body"
            ></p-dropdown>
        </div>
    </div>
</div>

<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <button
                    pButton
                    class="button secondary"
                    label="Cancel"
                    (click)="onClose()"
            ></button>
        </div>
        <div>
            <button pButton class="button" label="Compare" (click)="onCompare()"></button>
        </div>
    </div>
</div>
