<div class="dialog-body">
    <div *ngIf="this.description" class="description">
        {{ this.description }}
    </div>
    <div *ngIf="this.descriptions" class="description">
        <div *ngFor="let item of this.descriptions">
            {{ item }}
        </div>
    </div>
    <div class="textarea">
        <mat-form-field appearance="outline">
            <textarea matInput rows="4" [formControl]="value"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="dialog-footer" mat-dialog-actions>
    <div class="action-buttons">
        <div class="cancel-button">
            <p-button
                    label="Cancel"
                    styleClass="p-button-outlined"
                    (click)="onNoClick()"
            ></p-button>
        </div>
        <div>
            <p-button
                    label="Save"
                    [disabled]="value.invalid"
                    (click)="onSubmit()"
            ></p-button>
        </div>
    </div>
</div>
