<div class="dialog-body">
    <p-tabView>
        <p-tabPanel *ngFor="let tab of items; let i = index">
            <ng-template pTemplate="header">
                <div class="tabview-label" (click)="handleChangeTab(i)">
                    {{ tab.label }}
                </div>
            </ng-template>
        </p-tabPanel>
    </p-tabView>

    <ng-container [ngSwitch]="this.importType">
        <ng-template [ngSwitchCase]="0">
            <app-file-drag-n-drop
                    *ngIf="type === 'policy'"
                    fileExtension="policy"
                    (onFileLoaded)="importFromFile($event)"
                    dropZoneLabel="Import Policy .policy file"
            ></app-file-drag-n-drop>
            <app-file-drag-n-drop
                    *ngIf="type === 'module'"
                    fileExtension="module"
                    (onFileLoaded)="importFromFile($event)"
                    dropZoneLabel="Import Module .module file"
            ></app-file-drag-n-drop>
            <app-file-drag-n-drop
                    *ngIf="type==='tool'"
                    fileExtension="tool"
                    (onFileLoaded)="importFromFile($event)"
                    dropZoneLabel="Import Tool .tool file">
            </app-file-drag-n-drop>
        </ng-template>
        <ng-template [ngSwitchCase]="1">
            <form [formGroup]="dataForm">
                <label class="form-label" htmlFor="timestamp"
                >Message timestamp</label
                >
                <input
                        type="text"
                        id="timestamp"
                        placeholder="Timestamp"
                        pInputText
                        formControlName="timestamp"
                />
            </form>
        </ng-template>
        <!-- <ng-template [ngSwitchCase]="2">
            <label class="form-label" htmlFor="selectPolicy"
                >Select Policy</label
            >
            <div class="policy-selection">
                <p-dropdown
                    id="selectPolicy"
                    [options]="openSourcePolicies"
                    [(ngModel)]="selectedOpenSourcePolicy"
                    [showClear]="true"
                    optionLabel="name"
                    optionValue="topicId"
                    placeholder="Policy"
                    class="policy-dropdown"
                ></p-dropdown>
                <p>Token Type: CRU</p>
            </div>
            <div class="policy-actions">
                <p-button
                    label="View Documentation"
                    (click)="OnViewDocumentation()"
                ></p-button>
                <p-button
                    label="Direct Download"
                    (click)="OnDirectDownload()"
                ></p-button>
            </div>
        </ng-template> -->
    </ng-container>

    <div *ngIf="loading" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>

    <async-progress
            *ngIf="loading && taskId"
            [taskId]="taskId"
            (error)="onAsyncError($event)"
            (completed)="onAsyncCompleted()"
    ></async-progress>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <button pButton class="button secondary"
                    label="Close"
                    (click)="onNoClick()"
            ></button>
        </div>
        <div>
            <button pButton class="button"
                    label="Import"
                    (click)="this.importType === 1 ? importFromMessage() : ''"
            ></button>
        </div>
    </div>
</div>
