<div class="dialog-body">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="form-input-container">
            <label class="form-label" htmlFor="name">* Name</label>
            <input type="text" id="name" pInputText formControlName="name"/>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="sectoralScope">Sectoral scope</label>
            <p-dropdown
                    formControlName="sectoralScope"
                    id="sectoralScope"
                    #operationDropdown
                    [options]="sectoralScopeOptions"
                    placeholder="Not selected"
                    optionLabel="name"
                    optionValue="id"
            >
            </p-dropdown>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="projectScale">Project Scale</label>
            <p-dropdown
                    formControlName="projectScale"
                    id="projectScale"
                    #operationDropdown
                    [options]="projectScaleOptions"
                    placeholder="Not selected"
                    optionLabel="name"
                    optionValue="id"
            >
            </p-dropdown>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="applicabilityConditions">Conditions for applicability</label>
            <input type="text" id="applicabilityConditions" pInputText formControlName="applicabilityConditions"/>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="detailsUrl">URL on policy details page</label>
            <input type="text" id="detailsUrl" pInputText formControlName="detailsUrl"/>
        </div>
        <div class="form-input-container">
            <label htmlFor="tag">* Tag</label>
            <input
                    type="text"
                    id="tag"
                    pInputText
                    formControlName="policyTag"
            />
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="typicalProjects">Typical project(s)</label>
            <input type="text" id="typicalProjects" pInputText formControlName="typicalProjects"/>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="topicDescription">Topic Description</label>
            <input
                    type="text"
                    id="topicDescription"
                    pInputText
                    formControlName="topicDescription"
            />
        </div>
        <div class="form-input-container">
            <label class="form-label" for="description">Description</label>
            <textarea
                    id="description"
                    rows="3"
                    cols="30"
                    pInputTextarea
                    formControlName="description"
            ></textarea>
        </div>

        <h3>Categorization</h3>
        <div class="form-input-container">
            <label class="form-label" htmlFor="appliedTechnologyType">Applied Technology Type/Measure</label>
            <p-dropdown
                    formControlName="appliedTechnologyType"
                    id="appliedTechnologyType"
                    #operationDropdown
                    [options]="appliedTechnologyTypeOptions"
                    placeholder="Not selected"
                    optionLabel="name"
                    optionValue="id"
            >
            </p-dropdown>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="migrationActivityType">Mitigation Activity Type</label>
            <p-multiSelect
                    formControlName="migrationActivityType"
                    id="migrationActivityType"
                    #operationDropdown
                    [options]="migrationActivityTypeOptions"
                    defaultLabel="Not selected"
                    optionLabel="name"
                    optionValue="id"
                    display="chip"
            >
            </p-multiSelect>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="subType">Sub Type</label>
            <p-multiSelect
                    formControlName="subType"
                    id="subType"
                    #operationDropdown
                    [options]="subTypeOptions"
                    defaultLabel="Not selected"
                    optionLabel="name"
                    optionValue="id"
                    display="chip"
            >
            </p-multiSelect>
        </div>

        <h3>Important parameters</h3>
        <div class="form-input-container">
            <label class="form-label" htmlFor="atValidation">At validation</label>
            <input type="text" id="atValidation" pInputText formControlName="atValidation"/>
        </div>
        <div class="form-input-container">
            <label class="form-label" htmlFor="monitored">Monitored</label>
            <input type="text" id="monitored" pInputText formControlName="monitored"/>
        </div>
    </form>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <p-button
                    label="Cancel"
                    styleClass="p-button-outlined"
                    (click)="onNoClick()"
            ></p-button>
        </div>
        <div>
            <p-button label="Create" (click)="onSubmit()" [disabled]="!dataForm.valid"></p-button>
        </div>
    </div>
</div>
