<div class="center-container">
    <div class="task-viewer">
        <div class="header">{{ action }}...</div>
        <div class="progress-bar">
            <p-progressBar [showValue]="false" [value]="progressValue"></p-progressBar>
        </div>
        <div class="status-items">
            <ng-container *ngFor="let status of statuses">
                <div class="info-part" *ngIf="isInfo(status)">INFO: {{ status.message }}</div>
                <div class="non-info-part" *ngIf="!isInfo(status)">
                    {{ status.message }} <span>{{ status.type }}</span></div>
            </ng-container>
        </div>
    </div>
</div>
