<div class="content-{{ type }}" [hidden]="!isExist">
    <ng-container *ngIf="type == 'dialog'">
        <div class="create-button-container">
            <p-button class="btn-block-{{ buttonClass }}" (click)="onDialog()">
                {{ content }}
            </p-button>
        </div>
    </ng-container>
    <ng-container *ngIf="type == 'page'">
        <form
                *ngIf="schema"
                [formGroup]="dataForm"
                (ngSubmit)="onSubmit('page')"
                class="form-{{ type }}"
        >
            <h1 *ngIf="title" mat-dialog-title>{{ title }}</h1>
            <div *ngIf="restoreData" class="restore-data">
                <mat-icon>info
                </mat-icon
                >
                <b
                >There is some data to restore. You can restore latest
                    values:</b
                >
                <button
                        mat-raised-button
                        aria-label="Restore Values"
                        type="button"
                        (click)="onRestoreClick()"
                >
                    Restore Values<mat-icon>restore</mat-icon>
                </button>
            </div>
            <div class="schema-form">
                <app-schema-form
                        [formGroup]="dataForm"
                        [schema]="schema"
                        [private-fields]="hideFields"
                        [preset]="presetDocument"
                        [readonly-fields]="presetReadonlyFields"
                        submitText="Create"
                        (cancelBtnEvent)="onCancelPage($event)"
                        (submitBtnEvent)="onSubmit('page')"
                >
                </app-schema-form>
            </div>
        </form>
    </ng-container>
</div>

<ng-template #dialogTemplate let-data>
    <div>
        <h1 mat-dialog-title class="title">{{ dialogContent }}</h1>
        <div *ngIf="restoreData" class="restore-data">
            <mat-icon>info
            </mat-icon
            >
            <b
            >There is some data to restore. You can restore latest
                values:</b
            >
            <button
                    mat-raised-button
                    aria-label="Restore Values"
                    type="button"
                    (click)="onRestoreClick()"
            >
                Restore Values<mat-icon>restore</mat-icon>
            </button>
        </div>
        <div *ngIf="schema" mat-dialog-content class="body-dialog-template">
            <ng-template #preloader>
                <div class="preloader-image"></div>
            </ng-template>

            <div *ngIf="dialogLoading" class="loading">
                <div class="preloader-image preloader-image-l-size"></div>
            </div>
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit('dialog')">
                <div class="form-{{ type }}">
                    <app-schema-form
                            [formGroup]="dataForm"
                            [schema]="schema"
                            [readonly-fields]="presetReadonlyFields"
                            [private-fields]="hideFields"
                            [preset]="presetDocument"
                            [comesFromDialog]="true"
                            (cancelBtnEvent)="handleCancelBtnEvent($event, this)"
                            (submitBtnEvent)="handleSubmitBtnEvent($event, this)"
                    >
                    </app-schema-form>
                </div>
                <div class="dialog-actions-container">
                    <div style="display: flex;" mat-dialog-actions>
                        <div style="margin-left: auto;">
                            <p-button
                                    label="Cancel"
                                    styleClass="p-button-outlined"
                                    type="button"
                                    id="cancel-btn"
                                    (click)="onCancel()"
                            >
                            </p-button>
                        </div>
                        <div style="margin-left: 12px; margin-right: 30px;">
                            <p-button
                                    label="Create"
                                    id="ok-btn"
                                    type="submit"
                                    [disabled]="
                                    !dataForm.valid || loading || dialogLoading
                                "
                            >
                            </p-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="!schema" mat-dialog-actions>
            <button mat-button type="button" (click)="onCancel()">
                Cancel
            </button>
        </div>
    </div>
</ng-template>

<ng-template #preloader>
    <div class="preloader-image"></div>
</ng-template>

<div *ngIf="loading" class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
</div>
