.content-page {
    position: relative;
    display: block;
    background: #fff;
}

.content-dialog {
    display: block;
    background: transparent;
    margin: 10px 5px 5px 5px;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-dialog {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 62px;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.form-page {
    width: 650px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

.form-dialog {
    padding: 10px 2px 0px 2px;
    max-height: calc(100vh - 500px);
    overflow: auto;
    box-sizing: border-box;
}

.body-dialog-template {
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    max-height: calc(70 * var(--vh)) !important;
    position: relative;
}

.description {
    margin-bottom: 10px;
}

.schema-form {
    max-height: calc(100vh - 600px);
    overflow: auto;
    margin-bottom: 24px;
    padding: 40px 40px 0px 40px;
}

.form-page h1 {
    padding: 40px 40px 0px 40px;
}

.form-page .description {
    padding: 0 40px;
}

.form-page .page-btns {
    padding: 0px 40px 40px 40px;
}

.content-dialog button {
    height: 40px;
    margin-bottom: 6px;
}

.btn-block-link {
    width: auto !important;
    font-size: 20px !important;
    color: #0B73F8 !important;
    text-decoration: none !important;
    border-bottom: 3px solid #0C77FF;
    padding: 0 0 3px 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 33px !important;
    box-sizing: border-box !important;
    position: relative !important;
    top: -9px !important;
}

.restore-data {
    margin-top: 0px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.restore-data button.mat-raised-button {
    padding: 0 12px;
    height: 36px;
}

.restore-data button mat-icon {
    margin-left: 3px;
}

.dialog-actions-container {
    z-index: 400;
    height: 65px;
    padding-top: 15px;
}

.dialog-description {
    padding: 10px 35px;
    font-size: 500;
}

.attach-documents {
    padding-bottom: 50px;
    position: relative;
}

.attach-documents::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #c8c8c8;
}

@media (max-width: 810px) {

    h1 {
        height: 40px;
        padding: 0 !important;
        margin: 0 auto;
        margin-top: 16px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;

        color: #222222;
    }

    .form-page {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        border: none;
    }

    .form-dialog {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        border: none;
        max-height: 55vh;
        max-width: 90vh;
    }

    .schema-form {
        max-height: none;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        overflow: auto;
        margin-bottom: 24px;
    }

    .mobile-button-div {
        background-color: #333;
        color: #fff;
        padding: 30px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .registrant-application-create-btn {
        position: fixed;
        width: calc(45% - 5px);
        right: 5%;
        left: auto;
        bottom: 20px;
        z-index: 305;
    }

    /* Create New Device */

    .title {
        width: 90%;
    }

    :host ::ng-deep .form-dialog .form-field-group {
        margin-bottom: 0;
    }

    .mat-dialog-actions {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        background-color: white;
        margin-bottom: 0;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        z-index: 305;
    }

    #cancel-btn {
        border: 1px solid #2C78F6;
        background: none !important;
        color: #2C78F6;
        grid-column: 1;
        grid-row: 1;
        z-index: 305;
    }

    #ok-btn {
        grid-column: 2;
        grid-row: 1;
        z-index: 305;
    }
}

.min-btn {
    min-width: 200px;
}

.form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.attach-documents-grid {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.attach-document {
    width: 64px;
    height: 76px;
    padding: 6px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.attach-document:hover {
    background: #f1f1f1;
    border-radius: 8px;
}

.attach-document svg {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 52px;
    height: 64px;
    pointer-events: none;
    fill: #666666;
}

.attach-document-type {
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    color: var(--button-primary-color);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #666666;
}

.attach-document-edit {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    color: var(--button-primary-color);
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.attach-document-value {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.attach-document-delete {
    display: none;
    position: absolute;
    right: 1px;
    top: 1px;
    color: #eb0303;
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #eb0303;
    box-sizing: border-box;
    z-index: 2;
    cursor: pointer;
}

.attach-document-delete:hover {
    background: #eb0303;
    color: #fff;
}

.attach-document[selected="true"] .attach-document-type {
    display: none;
}

.attach-document[selected="true"] .attach-document-edit {
    display: flex;
}

.attach-document[selected="true"] .attach-document-delete {
    display: block;
}

.attach-document[selected="true"] svg {
    fill: var(--button-primary-color);
}